.root {
  display: grid;
  grid-column: 1 / -1;
  align-content: start;
  gap: 10px;

  min-height: 150px;
  padding: 20px;

  border: 1px solid getColor(scorePanel);
  border-radius: 8px;
  background: getColor(scorePanel);

  color: getColor(whiteText);

  box-shadow: 0 16px 40px getColor(scorePanelShadow);

  &__title {
    margin: 0 0 12px;

    font-size: fontSize(18px);
  }

  &__value {
    color: getColor(successText);
    font-size: fontSize(42px);
  }

  &__description {
    margin: 0;

    color: getColor(scorePanelText);
  }
}
