.root {
  position: relative;

  display: inline-grid;

  min-width: 0;

  color: getColor(secondaryText);

  &_fullWidth {
    width: 100%;
  }

  &_small {
    .root__control {
      @include controlFieldSizeSmall;

      padding: 0 34px 0 10px;
    }
  }

  &_medium {
    .root__control {
      @include controlFieldSizeMedium;

      padding: 0 38px 0 12px;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 14px;

    width: 8px;
    height: 8px;

    border-right: 2px solid getColor(mutedText);
    border-bottom: 2px solid getColor(mutedText);

    transform: translateY(-65%) rotate(45deg);

    pointer-events: none;
    content: '';
  }

  &:has(&__control:disabled)::after {
    border-color: getColor(disabledTextSoft);
  }

  &__control {
    @include controlFieldBase;

    color: inherit;

    appearance: none;
    cursor: pointer;
  }
}
