{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "importOrder": [
    "^node:",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@services/(.*)$",
    "^@store/(.*)$",
    "^\\./common/(.*)$",
    "^\\./components/(.*)$",
    "^\\./(?!.*\\.(css|scss)$)(.*)$",
    "^\\.\\./(?!.*\\.(css|scss)$)(.*)$",
    "^.+\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
