.exportActions {
  &__title {
    margin: 14px 0 8px;

    color: #344256;
    font-size: 14px;
    font-weight: 800;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin-top: 12px;
  }
}
