.targetRoleField {
  &__label {
    display: block;

    margin-bottom: 8px;

    color: get-color(slateLabel);
    font-size: fontSize(14px);
    font-weight: 800;
  }

  &__input {
    max-width: 100%;
    margin-bottom: 14px;

    color: get-color(slateInput);
  }
}
