@use './inter';

:root {
  @include colorVariables;
  @include designSystemVariables;

  background: getColor(appBackground);

  color: getColor(appText);
  font-family: Inter, sans-serif;
}

:root[data-theme='dark'] {
  @include colorVariables($dark-colors);

  color-scheme: dark;
}

:root[data-theme='light'] {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

button,
input,
textarea {
  font: inherit;
}

button,
label,
textarea {
  -webkit-tap-highlight-color: getColor(transparent);
}
