.app {
  min-height: 100vh;
  padding: 28px;
  overflow-x: clip;

  background:
    linear-gradient(180deg, get-color(whiteAlpha76) 0, get-color(whiteAlpha0) 260px), get-color(appBackground);
}

@include mediaMax(mobile) {
  .app {
    padding: 12px;
  }
}
