.root {
  min-height: 100vh;
  overflow-x: clip;

  background: linear-gradient(180deg, getColor(whiteAlpha76) 0, getColor(whiteAlpha0) 260px), getColor(appBackground);
}

@include mediaMax(mobile) {
  .root {
    padding: 12px;
  }
}
