.homePage {
  display: grid;
  grid-template-columns: minmax(0, 820px) minmax(380px, 470px);
  align-items: start;
  justify-content: space-between;
  gap: 84px;

  min-width: 0;
  max-width: 1480px;
  margin: 0 auto;
  padding: 58px 0 104px;
}

@include mediaMax(desktop) {
  .homePage {
    grid-template-columns: minmax(0, 1fr);
    align-items: start;
  }
}

@include mediaMax(mobile) {
  .homePage {
    gap: 32px;

    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding: 34px 0 48px;
  }
}
