.translationToneField {
  &__label {
    display: block;

    margin-bottom: 8px;

    color: getColor(slateLabel);
    font-size: fontSize(14px);
    font-weight: 800;
  }

  &__select {
    margin-bottom: 14px;
  }
}
