.root {
  @include controlFieldBase;

  box-sizing: border-box;
  resize: vertical;

  overflow-wrap: anywhere;

  &_fullWidth {
    width: 100%;
  }

  &_default {
    padding: 12px;

    font-size: fontSize(14px);
  }

  &_code {
    padding: 22px;
    overflow: auto;

    @include innerScrollbar;

    background: getColor(surface);

    color: getColor(secondaryText);
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', monospace;
    font-size: fontSize(14px);
    white-space: pre-wrap;
  }
}
