.root {
  min-width: 0;

  &__subtitle {
    margin: 0 0 14px;

    color: getColor(mutedText);
    font-size: fontSize(14px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;

    margin-bottom: 14px;
  }
}

@include mediaMax(compact) {
  .root {
    &__list {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
